@charset "utf-8";
/* CSS Document */

/***********************************************************************************************************************
************************************************GENERAL*********************************************************
***********************************************************************************************************************/

body{
    font-family:"Open Sans";
    font-size:16px;
    line-height:1.5;
    background: #fefefe;
}

.container{
    margin:0 auto;
    max-width: 960px; /* also declared in bootstrap */
}

/* fonts */

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    color: #fefefe;
}

h2{ /* Koppen van blokken */
     font-size: 36px;
    font-weight: lighter;
    color: #fefefe;
}

.middel h2{
    font-size: 24px;
}

.klein h2{
    font-size: 12px;
}

.titel{ /* Kop van site */
    font-size:36px;
    font-weight:bold;
    color: #2d2d2d;
}

p{
    font-weight:normal;
    color: #fefefe;
}

.infoText {
    color: #2d2d2d;
    padding-left: 30%;
    padding-right: 30%;
}
}

/***********************************************************************************************************************
************************************************HEADER*********************************************************
***********************************************************************************************************************/

.header{
    height: 100px;
    width: 100%;
}

h1.titel{
    margin: 30px 0 0 0;
    float: right;
}

.search input[type="text"]{
    margin: 30px 0;
    float:left;
    height: 40px;
    padding: 0 0 0 10px;
    border-radius: 5px;
    border:none;
    background: #e7e7e7;
}

/***********************************************************************************************************************
************************************************CONTENT*********************************************************
***********************************************************************************************************************/

.blok {
    width: 100%;
    margin: 5px 0;
    display: table; /* Voor verticaal centreren */
}

.text{
    text-align: center;
    /* Voor verticaal centreren */
    display: table-cell;
    vertical-align: middle;
    margin: 0 10px;
}

.kop{
    margin: 0 0 20px 0;
}

span.bold{
    font-weight:bold;
}

/**********************************************************************************************----------------------------------- MOBILE -----------------------------------**********************************************************************************************/
@media (max-width: 768px) {

    .header{
        text-align: center;
    }

    .header h2{
        float: none;
    }

    .search input[type="text"]{
        float: none;
        width: 100%;
    }
}